* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#ece9e6), to(#ffffff));
    background-image: linear-gradient(to right, #ece9e6, #ffffff);
}

.top {
    width: 100%;
    height: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("https://images.pexels.com/photos/1537165/pexels-photo-1537165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1537165/pexels-photo-1537165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid black;
}

.top h2 {
    color: white;
    text-align: left;
    padding: 30px 0 0 20px;
    font-weight: 700;
    font-size: 30px;
}

.top h3 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    font-size: 30px;
}

.net-div {
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.net-div span {
    color: white;
    font-size: 32px;
}


.income-box {
    width: 500px;
    height: 50px;
    background-color: #51E951;
    margin: 25px auto;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px #00B600;
            box-shadow: 2px 2px 5px #00B600;
}

.income-box-left {
    color: #00B600;
    text-shadow: .2px .2px black;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 18px;
    float: left;
    width: 151px;
}

.income-box-right {
    float: right;
    width: 340px;
    text-align: right;
    padding-right: 56px;
    padding-top: 10px;
    font-size: 22px;
    color: #00B600;
    text-shadow: .5px .5px black;
}

#total-income {
    padding-left: 10px;
}

.expenses-box {
    width: 500px;
    height: 50px;
    background-color: #FF5959;
    margin: 25px auto;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px #E30000;
            box-shadow: 2px 2px 5px #E30000;
}

.expenses-box-left {
    color: #E30000;
    text-shadow: .2px .2px black;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 18px;
    float: left;
    width: 170px;
}

.expenses-box-right {
    float: right;
    width: 327px;
    text-align: right;
    padding-right: 12px;
    padding-top: 10px;
    font-size: 22px;
    color: #E30000;
    text-shadow: .5px .5px black;
}

#total-expenses {
    padding-left: 10px;
}

#expenses-percent {
    background-color: rgb(255, 167, 167);
    text-shadow: none;
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    border-radius: 5px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.middle {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 0;
    color: black;
    font-size: 12px;
    background-color: rgb(201, 201, 201);
}

.middle-center, .middle-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.middle-center input, .middle-right input {
    margin: 5px 20px 0;
    outline: none;
    border-radius: 7px;
    border: none;
}


select {
    margin: 0 20px; 
}

#btn-submit {
    background-color: black;
    border: none;
    padding: 0 20px;
    margin: 0 20px;
    height: 25px;
    color: white;
    border-radius: 10px;
    -webkit-transition: all .1s;
    transition: all .1s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#btn-submit:hover {
    cursor: pointer;
}

#btn-submit:active {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    outline: none;
}

#description,
#amount {
    outline: none;
    height: 25px;
    padding-left: 7px;
}
#income-or-expense {
    border-radius: 5px;
    outline: none;
    padding-left: 3px;
}

.bottom {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.income-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 5px 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.expenses-section {
    margin: 30px 0 0 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.income-section p {
    text-align: center;
    font-weight: 700;
    color: #00B600;
    margin-bottom: 20px;

}
.expenses-section p {
    text-align: center;
    color: #E30000;
    font-weight: 700;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
}

th {
    text-align: center;
    background-color: rgb(226, 226, 226);
}

tbody tr > td:not(:nth-child(2)) {
    text-align: center;
}